/*
  Orange de base : d98b10
  Orange border : ad6f0c
  Accent de base : #105ED9
  Accent Border : #0c4bad

  Page background : #EEEEEE
  Toolbar background :
  Toolbar border: d9d9d9
*/



@media screen{

*{
  margin: 0;
  padding: 0px;
}

body{
  background-color: #EEEEEE!important;
  font-family: Verdana, Geneva, sans-serif;
}
#header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  border-bottom: 1px solid #d9d9d9;
}
#logo-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  padding: 5px;
  height: 50px;
}

.header-title{
    color: #d98b10;
    padding: 11px 10px 10px 10px;
    margin: 0!important;
}
#tabs-container{
  position: fixed;
  top:0;
  left: 125px;
  right: 0;
  height: 60px;
}
#tabs{
  list-style: none;
  position: absolute;
  bottom: 0;
  margin: 0;
  margin-bottom: 1px;
}
#tabs li{
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  margin: 0 0 0 0;
  display: inline-block;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  background-color: #f5f5f5;
  cursor:pointer;
}
#tabs li a{
  display: inline-block;
  padding: 5px;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}
.tab-close{
  display: inline-block;
  padding: 10px;
  color: #d9d9d9;
}
.tab-close:hover{
  color: #000;
}
#tabs li.active{
  background-color: #d98b10;
  border-color: #ad6f0c;
}
#tabs li.active a{
    color: #FFF!important;
}
#tabs li a:hover{
    text-decoration: none;
}


#nav{
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#EEEEEE);
  background-image: -moz-linear-gradient(top,#f5f5f5,#EEEEEE);
  background-image: -ms-linear-gradient(top,#f5f5f5,#EEEEEE);
  background-image: -o-linear-gradient(top,#f5f5f5,#EEEEEE);
  background-image: linear-gradient(top,#f5f5f5,#EEEEEE);
  background-color: #f5f5f5;
  border-bottom: 1px solid #d9d9d9;
  height: 34px;
}

#nav-options{
    padding-left: 10px;
    padding-right: 10px;
    height: 34px;
}
.nav-option{
  border-right: 1px solid #d9d9d9;
  display: inline-block;
  height: 34px;
  margin: 0;
}
.nav-option-label{
  font-size: 13px;
  padding: 5px 7px;
  margin: 3px;
  display: inline-block;
}
.nav-option-label:hover{
  background-color: #d9d9d9;
  cursor:default;
}
#content{
  position: fixed;
  top: 94px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

#page{
  width: 40%;
  margin: 5px auto;
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #d9d9d9;
}
#page-title-edit{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #d98b10;
  color: #d98b10;
  background: transparent;
  margin-bottom: 10px;
  font-size: 25px;
  height: 45px;
  text-align: center;
}

#blocks-container{

}
.block{
  margin: 30px 0;
}
.block-title{
    border-top: 1px solid #0c4bad;
    border-bottom: 1px solid #0c4bad;
    border-right: 1px solid #0c4bad;
    border-left: 3px solid #0c4bad;
    display: inline-block;
    padding: 10px;
}
.block-input-title{
  border:none;
  display: inline-block;
  padding: 5px;
}
.block-content{
  border-left: 3px solid #0c4bad;
  padding: 10px;
}
.sentences{
  width: 98%;
  margin: auto;
}
.sentence{
  width: 100%;
  border-left: 3px solid #d98b10;
  /*border-bottom: 3px solid #d98b10;*/
  padding: 0 10px;
}
.sentence-content{
    padding: 5px;
}
.sentence-number{
  display: inline-block;
  width: 5%;
  cursor:move;
}


.sentence-input
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: inline-block;
    width: 80%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.sentence-res{
  display: inline-block;
  width: 5%;
  text-align: right;
  color: green;
}
.action-link{
  font-size: 13px;
  color: #AAA;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 10px;
}


li{
  margin: 5px;
}
h1,h2,h3{
  margin: 10px 0;
  color: #d98b10;
}
h2,h3{
  margin-top: 20px;
}


.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    display: block!important;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-header {
    padding: 2px 16px;
    background-color: #F3F3F3;
    border: 1px solid #d9d9d9;
}
.modal-header h2{
    color: #d98b10;
    font-size: 20px;
    margin: 0!important;
}



/* Modal Body */
.modal-body {
    border: 1px solid #d9d9d9;
    padding: 10px;
}
/* Modal Content */
.modal-content {
    background-color: #FFFFFF;
    margin: auto;
    width: 400px;
}

/* The Close Button */
.close {
    color: #d9d9d9;
    float: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#upload-input{
    margin-bottom: 20px;
    margin-top: 20px;
}
.modal-body .accent-button{
    padding: 10px 15px;
    color: #FFF;
    background-color: #105ED9;
    border: 1px solid #0c4bad;
    font-size: 13px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}
.accent-button:hover{
    background-color: #0c4bad;
}
.home-title{
    color: #d98b10;
}
.home-text{
    margin: 10px;
}

.sentence-drop-area{
    width: 100%;
    font-weight: bold;
    height: 30px;

}



}
