@media print
{
    header, nav, .action-link, .sentence-res, .sentence-number, .close{
        display:none!important;

    }

    input{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        border: none;
        margin-left: 50px;
    }
    #page-title-edit{
        font-size: 20px;
        margin: 20px 20px 20px 0;
    }
    .block-title{
        font-size: 16px;
        margin: 10px 10px 10px 0;
    }
}
